<%#= render "header" %>

<section class="intro">
  <h1>AnimePI</h1>
  <p>The Anime API</p>
</section>


<section class="main">
  <p class="main-1">All the anime data you've ever wanted</p>
  <p class="main-2">Interested in using AnimePI? 
    <span>Check out our 
      <a href="https://github.com/eliraybon/animepi" target="_blank">
        documentation
      </a> ٩(^ᴗ^)۶
    </span>
  </p>
  <p class="main-3">Planime for iOS coming soon.</p>
</section>

<section class="try">
  <section class="try-description">
    <h3>Try it out!</h3>
    <div class="input-container">
      <input type="text" id="req-input" />
      <i id="req-button" class="fas fa-paper-plane"></i>
    </div>
  </section>
  <pre id="api-output">

  </pre>

</section>

<section class="info">
  <div>
    <h3>OwO what's this?</h3>
    <p>
      AnimePI is an easy-to-use, RESTful API that makes it easy to search for and
       retrieve simple anime data for weebs who are just starting out as developers. :)
    </p>
  </div>

  <div>
    <h3>How can I use it?</h3>
    <p>
      Head over to our <a href="https://github.com/eliraybon/animepi" target="_blank">github repo</a> 
      for details on how to use planime for your anime app development needs!
    </p>
  </div>

  <div class="about-us-container">
    <h3>About Us</h3>
    <p class="about-us">
      <span>Eli Raybon</span> (Backend): <br /> 
        <a href="https://eliraybon.dev/" target="_blank">personal site</a> <i class="far fa-star"></i>
        <a href="https://www.linkedin.com/in/eli-raybon-8473a319b" target="_blank">linkedin</a> <i class="far fa-star"></i>
        <a href="https://github.com/eliraybon" target="_blank">github</a> 
      <br />

      <span>Alex Lee</span> (Frontend): <br />
        <a href="https://jihae.moe" target="_blank">personal site</a> <i class="far fa-star"></i>
        <a href="https://www.linkedin.com/in/alex629lee/" target="_blank">linkedin</a> <i class="far fa-star"></i>
        <a href="https://github.com/alex629lee" target="_blank">github</a>
    </p>
  </div>
</section>

<%= render "footer" %>



