<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/documentation">Documentation</a>
  </nav>
</header>

<section>
  <h1>AnimePI</h1>
  <p>The Anime API</p>
</section>

<section>
  <p>All the anime data you've ever wanted!</p>
  <p>Your favorite anime isn't here? <b>Make a request</b> or <i>contribute</i></p>
  <p>ITEMS coming soon</p>
</section>

<section>
  <h3>Try it out!</h3>
  <input type="text" />

</section>

<section>
  <div>
    <h3>What is this?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio velit sunt doloremque qui odio dolor odit ducimus dolorum sequi, provident rerum laborum consectetur quidem doloribus deserunt corrupti vitae tempora ipsum.</p>
  </div>

  <div>
    <h3>How can I use it?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officia nostrum quaerat quis, accusantium labore illum, qui exercitationem quae reprehenderit amet cupiditate. Amet nihil magnam facere ipsam laudantium quisquam consequatur?</p>
  </div>

  <div>
    <h3>How can I support this?</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, minus reprehenderit facilis dolorem, temporibus voluptates quasi nostrum a unde, repellat amet exercitationem qui dolore tempore aspernatur suscipit explicabo laborum veritatis.</p>
  </div>
</section>


<footer>
  <p>© Supertoys 2020</p>
  <div>
    <a href="#">Twitter</a>
    <a href="#">Github</a>
  </div>
</footer>



