<%#= render "header" %>

<section class="intro">
  <h1>AnimePI</h1>
  <p>The Anime API</p>
</section>


<section class="main">
  <p class="main-1">All the anime data you've ever wanted!</p>
  <p class="main-2">Your favorite anime isn't here? <b>Make a request</b> or <i>contribute</i></p>
  <p class="main-3">ITEMS coming soon</p>
</section>

<section class="try">
  <section class="try-description">
    <h3>Try it out!</h3>
    <div class="input-container">
      <input type="text" id="req-input" />
      <%# <button id="req-button">request</button> %>
      <i id="req-button" class="fas fa-paper-plane"></i>
    </div>
  </section>
  <pre id="api-output">
    I can have
      pre
        formatted
    text
  </pre>

</section>

<section class="info">
  <div>
    <h3>What is this?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio velit sunt doloremque qui odio dolor odit ducimus dolorum sequi, provident rerum laborum consectetur quidem doloribus deserunt corrupti vitae tempora ipsum.</p>
  </div>

  <div>
    <h3>How can I use it?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officia nostrum quaerat quis, accusantium labore illum, qui exercitationem quae reprehenderit amet cupiditate. Amet nihil magnam facere ipsam laudantium quisquam consequatur?</p>
  </div>

  <div>
    <h3>How can I support this?</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, minus reprehenderit facilis dolorem, temporibus voluptates quasi nostrum a unde, repellat amet exercitationem qui dolore tempore aspernatur suscipit explicabo laborum veritatis.</p>
  </div>
</section>

<%= render "footer" %>



