footer {
  height: 40px;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 0px 15px;
}

footer p {
  color: lightgray;
  font-style: italic;
  font-size: 14px;
}

footer a {
  margin: 0px 7px;
}