footer {
  height: 40px;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  max-width: 100%;
  color: rgb(184, 184, 184);
  cursor: default;
}

.footer-names {
  color: rgb(184, 184, 184);
  font-size: 14px;
  margin: 0px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-links {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  a {
    margin: 0px 5px;
    color: rgb(184, 184, 184);
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: white;
  }
}

