.info {
  background-color: rgb(75, 75, 75);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 30px;
}

.info div {
  margin: 15px 0px;
  width: 95%;
}

.info h3 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info p {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(222, 222, 222);
}


@media only screen and (max-width: 600px) {

  .info h3 {
    font-size: 18px;
    line-height: 23px;
  }

  .info p {
    font-size: 15px;
    margin-top: 3px;
  }
  
}