.info {
  background-color: rgb(75, 75, 75);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 30px;
  cursor: default;
}

.info div {
  margin: 15px 0px;
  width: 95%;
}

.info h3 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info p {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(222, 222, 222);
  line-height: 24px;

  a {
    font-weight: bold;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    opacity: 0.6;
  }
}

.about-us {
  letter-spacing: 1px;
  line-height: 24px;
  span {
    text-transform: uppercase;
  }
  
}

.info > .about-us-container a {
  font-size: 13px;
}

.info > .about-us-container i {
  font-size: 10px;
}


@media only screen and (max-width: 600px) {

  .info h3 {
    font-size: 19px;
  }

  .info p {
    font-size: 15px;
    margin-top: 3px;
  }
  
}