.main {
  font-size: 20px;
  background-color: rgb(228, 228, 228);
  color: black;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: default;
}

.main-1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px 0px;
  margin: 0px 20px
}

.main-2 {
  font-size: 18px;
  padding: 10px 0px;
  margin: 0px 30px;
  text-align: center;
  letter-spacing: 0.5px;
  a {
    font-weight: bold;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    opacity: 0.6;
  }
}

.main-3 {
  font-style: italic;
  color: rgb(111, 111, 111);
  padding: 10px 0px;
  margin: 0px 20px;
  font-size: 18px;
}





@media only screen and (max-width: 650px) {
  .main {
    height: 230px;
  }
  .main-1 {
    font-size: 21px;
    line-height: 28px;
  }
  .main-2 {
    font-size: 16px;
  }
  .main-3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 590px) {
  .main-1 {
    width: 270px;
  }

  .main-2 {
    line-height: 22px;
  }

  .main-2 span{
    display: block;
  }
}